.container { padding: 16px; }
.toolbar { display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; }
.search-field { width: 40%; }
.actions-wrapper { display: flex; gap: 10px; }
table { width: 100%; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
color: white;}
